body {width;: 1000px}

.haut{
    background-color: red;
    height: 50px;
    color : white;
    width: 1000px;
    text-align: center;
    line-height: 50px;
}

.gauche {
    background-color: blue;
    height: 800px;
    color : white;
    width: 247px;
    text-align: center;
    line-height: 750px;
    float: left;
    margin-right: 1px;
}

.z1 {
    background-color: green;
    height: 750px;
    color : white;
    width: 100px;
    text-align: center;
    line-height: 750px;
    float: left;
    margin-right: 1px;
}

.z2 {
    background-color: green;
    height: 750px;
    color : white;
    width: 100px;
    text-align: center;
    line-height: 750px;
    float: left;
    margin-right : 1px;
}

.z3 {
    background-color: green;
    height: 750px;
    color : white;
    width: 100px;
    text-align: center;
    line-height: 750px;
    float: left;
    margin-right : 1px;
}

.z4 {
    background-color: green;
    height: 750px;
    color : white;
    width: 100px;
    text-align: center;
    line-height: 750px;
    float: left;
    margin-right : 1px;
}

.z5 {
    background-color: green;
    height: 750px;
    color : white;
    width: 100px;
    text-align: center;
    line-height: 750px;
    float: left;
    margin-right : 1px;
}

.bas {
    background-color: yellow;
    height: 50px;
    color : white;
    width: 504px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    margin-left: 248px;
    margin-top: 751px; 

}

.droite {
    background-color: blue;
    height: 800px;
    color : white;
    width: 247px;
    text-align: center;
    line-height: 750px;
    float: left;
    margin-right : 1px;
}